.productListContainer{
    width: 100%;
    box-sizing: border-box;
    background-color: white;
    border-left: 1px solid rgba(0, 0, 0, 0.186);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#productListHeading {
    font: 400 2rem "Roboto";
    padding: 0.5vmax;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.629);
    transition: all 0.5s;
    margin: 2rem;
    text-align: center;
}

.productListTable {
    background-color: white;
    border: none !important;
}

.productListTable div {
    font: 300 1vmax  "Roboto";
    color: rgba(0, 0, 0, 0.651);
    border: none !important;
}

.productListTable a {
    color: rgba(0, 0, 0, 0.691);
    transition: all 0.5s;
}

.productListTable a:hover,
.productListTable button {
    color: tomato;
}

.productListTable button:hover {
    color: rgb(233, 66, 37);
}

.MuiDataGrid-columnHeader div {
    color: white;
}

@media screen and (max-width: 600px) {
    .productListTable div {
        font: 300 4vw "Roboto";
    }
}